html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333;}
div.main{margin:0 auto; width:950px;}
div.header{border-top:1px solid #999; border-bottom:1px solid #999; background-color:#F9F9F9; height:20px; color:#333; margin:5px 0;}
div.codeTitle{margin-bottom:-15px; margin-top:30px; font-weight:bold; cursor:pointer; font-size:1.4em;}
div.version{border-bottom:1px solid #CCC; font-weight:bold; width:450px; margin:40px 0 5px 0;}
div.footer{font-size:10px; color:#999; text-align:center; margin:40px auto 0 auto; border-top:1px solid #999; width:950px;}
div.clearRight{clear:right; float:right; width:468px; height:68px; margin-top:25px;}
div.padme{margin-top:25px;}
div.styleSizes{text-align:center; margin:25px;}
div.styleSizes a{color:#33C; padding:0 15px;}
h1{font-size:24px; margin:5px 0; color:#666;}
h2{font-size:18px; float:right; margin:5px 0; color:#666;}
div.header ul{list-style:none; margin:3px; display:inline;}
div.header ul li{display:inline; margin-right:25px; font-size:16px;}
ul{list-style-position:inside; list-style-type:square;}
ul.download{list-style-type:none; list-style-image:url('images/listArrow.jpg'); list-style-position:outside;}
ul.download a{font-size:18px; line-height:32px;}
li ul{margin-left:15px; list-style-type:circle;}
p{margin-top:35px; width:500px;}
a{color:#999; text-decoration:none; font-size:16px;}
a:hover{color:#333;}
img.mainImg{float:right; margin-top:25px; padding-left:15px;}
img.thumbImg{margin-top:25px;}
#calBody table{text-align:center; margin:0 auto;}
#twitter{display:block; background-image:url(images/twitter.jpg); height:21px; width:122px; float:left; text-indent:-10000px; margin:2px 10px 0 0;}
