<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/postion.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
</head>

<body>
		<div id="main_continer">
   		  <div class="header">
                	<div class="logo">
                    	<a href="#"><img src="images/logo.jpg" width="198" height="151" /> </a>
                    </div>
                    <div class="header_r">
<div class="wi700">   		<div class="sign_cover">
                            		<div class="sign_bg_L"></div>
                                    <div class="sign_bg_M"><a href="#" class="sign_up_link">SignIn</a> | <a href="#" class="sign_up_link">Register</a> | <a href="#" class="sign_up_link">Customer Support</a> | <a href="#" class="sign_up_link">Feedback</a></div>
                                    <div class="sign_bg_R"></div>
                            </div></div>
             <div class="wi700">   <div class="wi251">
                         		<div class="wi40"><img src="images/phone.jpg" width="40" height="28" /></div>
               <div class="wi198_28">240 57 95 145</div>
                      </div></div>
                         <div class="meunwi700">
                         
                         		<div class="menu_L"></div>
                           <div class="menu_M"> <a href="#" class="menu_link pd10">HOME</a>      <a href="#" class="menu_link pd10">ABOUT US</a>      <a href="#" class="menu_link pd10">ADVANTAGE</a>       <a href="#" class="menu_link pd10">WHY BOOK ONLINE</a>      <a href="#" class="menu_link pd10">TERMS & CONDITION</a>       <a href="#" class="menu_link pd10">BECOME AGENT</a> 
</div>
                           <div class="menu_R"></div>
                         </div>
        </div>
        
                    <div class="banner"><img src="images/banner.jpg" width="979" height="402" /></div>
<div class="search_box">
                    		<div class="search_box_top"></div>
                            <div class="search_box_middile">
                       		  <h1>SEARCH HOTELS</h1>
                                    <div class="destin">
                               		  <p>	DESTINATION</p>
                                            <P><input name="" class="TEX_style" type="text" /></P>
                                    </div>
                                    <div class="check_covers">
                                    		<div class="check_139">
                                           	  <p>CHECK IN</p>
                                                <p><input name="" class="CHECK_TX_BG" type="text" /></p>
                                            </div>
              <div class="check_139 ml17">
                                            	<p>CHECK IN</p>
                                                <p><input name="" class="CHECK_TX_BG" type="text" /></p>
                                      </div>
                           	  </div>
                                        <div class="check_cover">
                                    		<div class="check_139">
                                            	
                                               
                                  <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)" class="jump">
                                                    <option>Room1</option>
                                              </select>
                                              
                                                <p></p>
                                            </div>
                                            
                                    	</div>
                                     <div class="check_cover">
                                    		<div class="check_139">
                                            	
                                               
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                              </select>
                                            
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                              </select>
                                                <p></p>
                                            </div>
                                            <div class="check_139 ml17">
                                            	                                               
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                                  </select>
                                            
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                                  </select>

                                            </div>
                           	  </div>
                              <div class="check_coverdd" style="display:none;" >
                                    		<div class="check_139">
                                            	
                                               
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                              </select>
                                            
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                              </select>
                                                <p></p>
                                            </div>
                                            <div class="check_139 ml17">
                                            	                                               
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                                  </select>
                                            
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                                  </select>

                                            </div>
                           	  </div>
                              <div class="check_coverdd"  style="display:none;">
                                    		<div class="check_139">
                                            	
                                               
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                              </select>
                                            
                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                              </select>
                                                <p></p>
                                            </div>
                                            <div class="check_139 ml17">
                                            	                                               
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25 pl5">
                                                    <option>Adult 1</option>
                                                  </select>
                                            
                                                  <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)" class="jumb_25">
                                                    <option>Child 1</option>
                                                  </select>

                                            </div>
                           	  </div>
                              
                              <div class="search_btn"><a href="#"><img src="images/search_btn.jpg" width="200" height="34" /></a></div>
</div>
                            <div class="SEARCH_BOTOOM"></div>
            </div>
                    
          
          <div class="contete_area"><img src="images/content_bg.jpg" width="1006" height="870" /></div>
          <div class="border_dd"></div>
          <div class="footer">
          		<div class="wi1006"> <a href="#" class="FOOTER_LINK">HOME</a>     <a href="#" class="FOOTER_LINK">ABOUT US</a>      <a href="#" class="FOOTER_LINK">ADAVANTAGE</a>      <a href="#" class="FOOTER_LINK">WHY BOOK ONLINE</a>     <a href="#" class="FOOTER_LINK">TERMS & CONDITION</a>      <a href="#" class="FOOTER_LINK">BECOME AGENT </a>
</div>
<div class="copy">©2012  stayaway com. All rights reserved</div>
<div class="wi122"> <img src="images/fb.jpg" width="27" height="27" />&nbsp;
<img src="images/twitter.jpg" width="27" height="27" />&nbsp;<img src="images/google.jpg" width="27" height="27" />&nbsp;<img src="images/skype.jpg" width="27" height="27" />
</div>
          </div>
        </div>
        </div>
</body>
</html>
