<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/postion.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
</head>

<body>
		<div id="main_continer">
   		  <div class="header">
                	<div class="logo">
                    	<a href="#"><img src="images/logo.jpg" width="198" height="151" /> </a>
                    </div>
                    <div class="header_r">
<div class="wi700">   		<div class="sign_cover">
                            		<div class="sign_bg_L"></div>
                                    <div class="sign_bg_M"><a href="#" class="sign_up_link">SignIn</a> | <a href="#" class="sign_up_link">Register</a> | <a href="#" class="sign_up_link">Customer Support</a> | <a href="#" class="sign_up_link">Feedback</a></div>
                                    <div class="sign_bg_R"></div>
                            </div></div>
             <div class="wi700">   <div class="wi251">
                         		<div class="wi40"><img src="images/phone.jpg" width="40" height="28" /></div>
               <div class="wi198_28">240 57 95 145</div>
                      </div></div>
                         <div class="meunwi700">
                         
                         		<div class="menu_L"></div>
                           <div class="menu_M"> <a href="#" class="menu_link pd10">HOME</a>      <a href="#" class="menu_link pd10">ABOUT US</a>      <a href="#" class="menu_link pd10">ADVANTAGE</a>       <a href="#" class="menu_link pd10">WHY BOOK ONLINE</a>      <a href="#" class="menu_link pd10">TERMS & CONDITION</a>       <a href="#" class="menu_link pd10">BECOME AGENT</a> 
</div>
                           <div class="menu_R"></div>
                         </div>
        </div>
            
                    <div class="inner_banner"><img src="images/inner_banner.jpg" width="979" height="230" /></div>
                    <div class="content_cover">
                    		<div class="left_pannel">
                            		<div class="left_pannel_head">
                                    		<h1><b>Hotels starting at</b></h1>
                                            <h2>€ 875</h2>
                                            <p>total per night</p>
                                    </div>
                                    <div class="left_pannel_body">
                                    		<div class="wi159">Reset Filters</div>
                                            <div class="wi159"><b>Filter your results</b>
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Price (Per Night)</div>
                                            	</div>
                                              <div class="price_rate"><span class="pw7">Price</span>: 150 € - 500 €</div>
                                                <div class="jq_bg"><img src="images/jquery_img.jpg" width="140" height="17" /></div>
                                      </div>
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Star Rating</div>
                                            	</div>
                                              <div class="price_rate"><span class="pw7">Star Rating:</span>: 150 € - 500 €</div>
                                                <div class="jq_bg"><img src="images/jquery_img.jpg" width="140" height="17" /></div>
                                      </div>
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Review Rating</div>
                                            	</div>
                                              <div class="price_rate"><span class="pw7">Review Rating: </span>: 150 € - 500 €</div>
                                                <div class="jq_bg"><img src="images/jquery_img.jpg" width="140" height="17" /></div>
                                      </div>
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Review Rating</div>
                                            	</div>
                                              <div class="price_rate"><span class="pw7">Price</span>: 150 € - 500 €</div>
                                                <div class="jq_bg"><img src="images/jquery_img.jpg" width="140" height="17" /></div>
                                      </div>
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Hotel Type</div>
                                            	</div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>    
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                          <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                                
                                      </div> 
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Facility</div>
                                            	</div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>    
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                          <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                                
                                      </div>
                                      <div class="wi159">
                                          <div class="arrow">
                                            	<div class="arrow_down"></div>
                                                <div class="wi120">By Hotel Theme</div>
                                            	</div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>    
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div>
                                         <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                          <div class="hotel_cover">
                                         	<div class="check_box_cover"><input name="" type="checkbox" value="" /></div>
                                            <div class="hotel_cover47">Apartment </div><div class="wi56">16 Hotels</div>
                                         </div> 
                                                
                                      </div>
                                         
                                    </div>
                                    
                                    <div class="change_search_pannel">
                                    	<div class="change_pannel_header">Change your Search</div>
                                        <div class="left_pannel_body">
                                        		<div class="modifi_search">
                                                <p>Destination / Hotel Name: </p>
                                                  <p><input name="" type="text" class="modi_text" /></p>
                                                </div>
                           	  <div class="modifi_search">
                                                <div class="check_box_cover_two"><input name="" type="checkbox" value="" /></div>Destination / Hotel Name:
                                                 
                                          </div>
                                          <div class="modifi_search">
                                                <p>Check-in Date:  </p>
                                                  <p><input name="" type="text" class="check_bg_2" /></p>
                                          </div>
                                                
                                                
                                              <div class="modifi_search">
                                                <p>Check-out Date:   </p>
                                                  <p><input name="" type="text" class="check_bg_2" /></p>
                                          </div>
                                          
                                          <div class="room_bor_bottom">
                                                <div class="modifi_search">
                                                
                                        <div class="modi_l">Room</div>
                                        <div class="modi_R">
                                          
                                            <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
                                              <option>item1</option>
                                            </select>
                                          
                                        </div>
                                                </div>
                                                <div class="modifi_search">
                                                
                                        <div class="modi_l">Room</div>
                                        <div class="modi_R">
                                          
                                            <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
                                              <option>item1</option>
                                            </select>
                                          
                                        </div>
                                                </div>
                                                <div class="modifi_search">
                                                
                                        <div class="modi_l">Room</div>
                                        <div class="modi_R">
                                          
                                            <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
                                              <option>item1</option>
                                            </select>
                                          
                                        </div>
                                                </div>
                                                <div class="modifi_search">
                                                
                                        <div class="modi_l">Room</div>
                                        <div class="modi_R">
                                          
                                            <select name="jumpMenu2" id="jumpMenu2" onchange="MM_jumpMenu('parent',this,0)">
                                              <option>item1</option>
                                            </select>
                                          
                                        </div>
                                                </div>
                                                </div>
                                                <div class="wi138"><a href="#"><img src="images/search_btn2.jpg" width="138" height="40" /></a></div>
                                                
                                      </div>
                                    </div>
                            </div>
                            <div class="right_pannel">
                            		<div class="wi714">
                                    		<div class="wi584">1289 Hotels found in Paris, 809 Available.Showing 1-20</div>
                                            <div class="wi100">Show hide</div>
                                    </div>
                                    <div class="search_result_section">
                                    <div class="wi714menu">
                                    		<div class="wi714menu01">Sort by</div><div class="wei507">
                                            <ul id="nav">
	<li>
		<a href="#">Recommented</a>
	</li>

	<li>
		<a href="#">Stars</a>
		<ul>
			<li><a href="#">star(5 to 1)</a></li>

			<li><a href="#">star(1 to 5)</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Distance</a>

		<!--<ul>
			<li><a href="#">Sevice one</a></li>
			<li><a href="#">Sevice two</a></li>

			<li><a href="#">Sevice three</a></li>
			<li><a href="#">Sevice four</a></li>
		</ul>-->

	</li>
	<li>
		<a href="#">Price</a>
		<ul>
			<li><a href="#">Lorem ipsum</a></li>

			<li><a href="#">Lorem ipsum</a></li>
			<li><a href="#">Lorem ipsum</a></li>
			<li><a href="#">Lorem ipsum</a></li>

			
		</ul>
	</li>
	<!--<li>
		<a href="#">Contact</a>

		<ul>
			<li><a href="#">Out-of-hours</a></li>
			<li><a href="#">Directions</a></li>

		</ul>
	</li>-->
</ul>
                                            </div>
                                            <div class="pagination">prev&nbsp; |&nbsp;1&nbsp;|&nbsp;2&nbsp;|&nbsp;3&nbsp;|&nbsp;next</div>
                                    </div>
                                    <div class="for_loop">
                                   	  <div class="pic108"><img src="images/hotel_pic.jpg" width="108" height="115" /></div>
                                      <div class="wi565">
                                      		<div class="wi565a">
                                            	<div class="wi407"><span class="sp_pad">Makedonia Palace</span>
                                                <span style="margin:5px 0 0 10px; float:left;"><img src="images/star_rating.jpg" width="65" height="12" /></span><br/><br/><span><span class="fw">Thessaloniki</span> /<span class="fw01"> Show Map</span></span>
                                             
                                             <div class="search_news">Five-star Makedonia Palace is situated on Thessaloniki's seafront. It offers a restaurant, swimming pool, gym and sauna. There is 1 person looking at this hotel. More</div>
                                                </div>
                                                <div class="wi143">
                                               	  <div class="erate">€ 310,98
                                                    <p>include Hotels</p>
                                                    <div class="book_now_btn"><a href="#"><img src="images/book_now_btn.jpg" width="118" height="38" /></a></div>
                                                  </div>
                                                </div>
                                                <div class="wi407_bo"><span style="color:#06F; font-size:11px;">Latest booking: yesterday</span></div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>	
                                            </div>
                                      </div>
                                   	   </div>
                                       <div class="for_loop">
                                   	  <div class="pic108"><img src="images/hotel_pic.jpg" width="108" height="115" /></div>
                                      <div class="wi565">
                                      		<div class="wi565a">
                                            	<div class="wi407"><span class="sp_pad">Makedonia Palace</span>
                                                <span style="margin:5px 0 0 10px; float:left;"><img src="images/star_rating.jpg" width="65" height="12" /></span><br/><br/><span><span class="fw">Thessaloniki</span> /<span class="fw01"> Show Map</span></span>
                                             
                                             <div class="search_news">Five-star Makedonia Palace is situated on Thessaloniki's seafront. It offers a restaurant, swimming pool, gym and sauna. There is 1 person looking at this hotel. More</div>
                                                </div>
                                                <div class="wi143">
                                               	  <div class="erate">€ 310,98
                                                    <p>include Hotels</p>
                                                    <div class="book_now_btn"><a href="#"><img src="images/book_now_btn.jpg" width="118" height="38" /></a></div>
                                                  </div>
                                                </div>
                                                <div class="wi407_bo"><span style="color:#06F; font-size:11px;">Latest booking: yesterday</span></div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>	
                                            </div>
                                      </div>
                                   	   </div>
                                       <div class="for_loop">
                                   	  <div class="pic108"><img src="images/hotel_pic.jpg" width="108" height="115" /></div>
                                      <div class="wi565">
                                      		<div class="wi565a">
                                            	<div class="wi407"><span class="sp_pad">Makedonia Palace</span>
                                                <span style="margin:5px 0 0 10px; float:left;"><img src="images/star_rating.jpg" width="65" height="12" /></span><br/><br/><span><span class="fw">Thessaloniki</span> /<span class="fw01"> Show Map</span></span>
                                             
                                             <div class="search_news">Five-star Makedonia Palace is situated on Thessaloniki's seafront. It offers a restaurant, swimming pool, gym and sauna. There is 1 person looking at this hotel. More</div>
                                                </div>
                                                <div class="wi143">
                                               	  <div class="erate">€ 310,98
                                                    <p>include Hotels</p>
                                                    <div class="book_now_btn"><a href="#"><img src="images/book_now_btn.jpg" width="118" height="38" /></a></div>
                                                  </div>
                                                </div>
                                                <div class="wi407_bo"><span style="color:#06F; font-size:11px;">Latest booking: yesterday</span></div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>	
                                            </div>
                                      </div>
                                   	   </div>
                                       <div class="for_loop">
                                   	  <div class="pic108"><img src="images/hotel_pic.jpg" width="108" height="115" /></div>
                                      <div class="wi565">
                                      		<div class="wi565a">
                                            	<div class="wi407"><span class="sp_pad">Makedonia Palace</span>
                                                <span style="margin:5px 0 0 10px; float:left;"><img src="images/star_rating.jpg" width="65" height="12" /></span><br/><br/><span><span class="fw">Thessaloniki</span> /<span class="fw01"> Show Map</span></span>
                                             
                                             <div class="search_news">Five-star Makedonia Palace is situated on Thessaloniki's seafront. It offers a restaurant, swimming pool, gym and sauna. There is 1 person looking at this hotel. More</div>
                                                </div>
                                                <div class="wi143">
                                               	  <div class="erate">€ 310,98
                                                    <p>include Hotels</p>
                                                    <div class="book_now_btn"><a href="#"><img src="images/book_now_btn.jpg" width="118" height="38" /></a></div>
                                                  </div>
                                                </div>
                                                <div class="wi407_bo"><span style="color:#06F; font-size:11px;">Latest booking: yesterday</span></div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>
                                                <div class="wi407_bo"><span style=" font-size:12px;color:#000; padding:0 10px 0 0 ;float:left;  "><b>Room with City View</b> <span style="color:#ec6e4d; font-size:11px;">FREE Cancelation Breakfast included </span></span>
                                                <span style=" font-size:12px;color:#000; padding:0 10px 0 30px;float:left; font-size:11px;  "> Only 3 rooms left  </span>
                                                
                                                </div>	
                                            </div>
                                      </div>
                                   	   </div>
                            </div>
                            </div>
                    </div>
          
          
          <div class="border_dd"></div>
          <div class="footer">
          		<div class="wi1006"> <a href="#" class="FOOTER_LINK">HOME</a>     <a href="#" class="FOOTER_LINK">ABOUT US</a>      <a href="#" class="FOOTER_LINK">ADAVANTAGE</a>      <a href="#" class="FOOTER_LINK">WHY BOOK ONLINE</a>     <a href="#" class="FOOTER_LINK">TERMS & CONDITION</a>      <a href="#" class="FOOTER_LINK">BECOME AGENT </a>
</div>
<div class="copy">©2012  stayaway com. All rights reserved</div>
<div class="wi122"> <img src="images/fb.jpg" width="27" height="27" />&nbsp;
<img src="images/twitter.jpg" width="27" height="27" />&nbsp;<img src="images/google.jpg" width="27" height="27" />&nbsp;<img src="images/skype.jpg" width="27" height="27" />
</div>
          </div>
        </div>
        </div>
</body>
</html>
